* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Volkhov", serif;
}

nav {
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(73, 90, 114, 0.85);
}

a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #f5243f;
}

a:visited {
  color: #1ed6f6;
}

p {
  margin-bottom: 0;
  letter-spacing: .5px;
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  /* font-family: 'Cinzel', serif; */
  
}

ul > p {
  margin-bottom: 10px;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  /* max-width: 1800px; */

}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;

}

.each-project {
  text-align: center;
  padding: 20px;
}

.about-projects {
  
}
.project {
  background-color: rgba(52, 14, 71, 0.7);
  text-align: center;
}

.demo-code {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1000px) {
  .project {
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px 0;
  }
  nav {
    background: none;
  }

  .each-project {
    max-width: 50%;
    text-align: center;
    padding: 30px;
  }
  .about-projects {
    
  }
  img {
    max-height: 400px;
  }
  .width-eighty {
  margin: 0 auto;
  width: 80%;
}

@media only screen and (min-width: 1400px) {
  .project {
    
  }
  .each-project {
   
  }
}
  .about-me {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
  }
  .contact-me {
    width: 80%;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.my-info {
  width: 100%;
  /* background-color: #c1514f; */
}

h1 {
  margin: 0;
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  
}
h2 {
  font-family: inherit;
  margin-bottom: 0;
}

h4 {
  margin: 0;
  margin-top: 20px;
}

nav > h2 {
  font-size: 15px;
  margin: 0;
}
.technologies {
  padding: 20px;
  margin: 0;
  background-color: #131c1fcf;
  /* background-color: #5f6b6fcf; */
}


img {
  max-height: 400px;
  width: 281px;
  min-width: 280px;
}

.snake-game-img {
  height: 400px;
}

.about-me {
  /* background-color: #0a182cad; */
  background-color: rgba(10, 24, 44, 0.85);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.my-name {
  padding: 10px 0 10px 5px;
  text-align: center;
}

.contact-info {
  display: flex;
  align-items: center;
  /* padding: 5px; */
}
/* give links padding */
.contact-info a {
  padding-right: 15px;
}

.first-h2 {
  margin-top: 0px;
}


@media only screen and (min-width: 640px) {
  .contact-info {
    display: flex;
    align-items: center;
    /* padding: 5px; */
  }

  nav {
  padding: 35px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

}

.fontSize {
  font-size: 40px;
}

.padding-top-bot {
  padding: 40px 0;
}
.app {
  color: white;
  width: 100%
}

.contact-me {
  text-align: center;
  display: flex;
  flex-direction:  column;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
  background: rgba(35, 70, 119, 0.7);
}

.contact-me-bottom {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.color-tech {
  color: limegreen;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Volkhov', serif;
font-family: 'Quattrocento', serif;
#234677ad
#0a182cad
#131c1fcf
#020f5fad
//  background: #340e47ad;
    border-radius: 25px;

*/
